body {
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000;
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link:hover {
    opacity: 0.8;
}
.logo-link:active {
    opacity: 0.6;
}
.site-header-list {
    display: flex;
    align-items: center;
}
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.sitenav-link {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.4s ease;
}
.sitenav-link:hover {
    color: #ff7500;
}
.sitenav-link:active {
    opacity: 0.6;
}
.sitenav-link:active {
    opacity: 0.6;
}
.hero-link {
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    text-decoration: none;
    background-color: #ff7500;
    color: #fff;
}
.hero-link:hover {
    opacity: 0.8;
}
.hero-link:active {
    opacity: 0.6;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
}
.hero-main {
    width: 387px;
}
.main-hr {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}
.hero-main h2 {
    font-size: 40px;
    font-family: "Roboto Condenced", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    color: #fff;
}
.hero-main p {
    color: #fff;
} 
.features-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.features h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
}
.features-link {
    width: 340px;
}
.features h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.promo {
    display: flex;
    align-items: center;
    background-color: #252420;
}
.promo-highlite {
    color: #ff7500;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list {
    display: flex;
    list-style: none;
}
.footer-list a {
    color: #252420;
}
.footer-list a:hover {
    color: #ff7500;
}
.footer-list a:active {
    opacity: 0.6;
 }
hr {
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}
.link {
    display: flex;
    list-style: none;
}
.link a {
    line-height: 19px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #252420;
    text-decoration: none;
}
.link a:hover {
    color: #ff7500;
}
.link a:active {
    opacity: 0.6;
}
.link ul {
    width: 224px;
    text-decoration: none;
    list-style: none;   
}