body {
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000;
}
.sitenav-link {
    font-size: 13px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.hero-link {
    font-size: 13px;
    font-family: "Roboto" "Arial" sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.5px;
    background-color: #ff7500;
    color: #fff;
}
.top {
    width: 1440px;
    background-color: #252420;
}
.hero-main {
    width: 387px;
}
.main-hr {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}
.hero-main h2 {
    font-size: 40px;
    font-family: "Roboto Condenced" "Arial" sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #fff;
}
.hero-main p {
    color: #fff;
}
.features {
    width: 1440px;
    background-color: #fff;
}
.features h2 {
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.5px;
    color: #000;
}
.features-link {
    width: 340px;
}
.features h3 {
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #000;
}
.promo {
    width: 1100px;
    background-color: #252420;
}
.promo-highlite {
    color: #ff7500;
}
.footer {
    width: 1440px;
    background-color: #f8f8f8;
}
.link a {
    line-height: 19px;
    color: #252420;
    text-decoration: none;
}
.link ul {
    width: 224px;
}