body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #252420;

}
.site-header{
    background-color: #fff;
}

.sitenav-link {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-link {
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    background-color: #ff7500;
    color: #fff;
    width: 155px;
}

.hero{
    width: 1440px;
}
.hero-main {
    background-color: #000;
}
.hero-main h2 {
    width: 340px;
    font-style: normal;
    font-family: 'Roboto Condensed',     sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #fff;
}
.hero-main p {
    letter-spacing: 0.5px;
    color: #fff;
}

.features {
    width: 1440px;
    background-color: #fff; 
}
.features h2 {
    width: 435px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 120%;
    color: #000;
}
.features ul {
    width: 1074px;
}
.features-item {
    width: 314px;
}
.features-item h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #000;
}

.promo {
    width: 1100px;
    background-color: #252420;
}
.promo h2 {
    width: 373px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #fff;
}
.promo p {
    letter-spacing: 0.5px;
    color: #fff;
}
.promo-highlite {
    color: #ff7500;
}
.footer {
    background-color: #F8F8f8;
}

.link {
    width: 1100px;
}
.link a {
    text-decoration: none;
}
.link-1 {
    width: 224px;
}
.link-2 {
    width: 224px;
    }
.link-3 {
    width: 224px;
    }
.link-4 {
    width: 224px;
    }
   


