* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000;
}

*:focus {
    outline: 3px solid #ff7500;
    outline-offset: 4px;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}
.site-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: #ff7500 5px solid;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: inline-block;
    transition: opacity 0.4s ease;
}

svg {
    display: block;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.site-header-list {
    display: flex;
    align-items: center;
}

.sitenav-list {
    display: flex;
    padding: 0;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-right: 32px;
}

.sitenav-item {
    margin: 0;
    margin-right: 32px;
}

.sitenav-item:last-child {
    margin: 0;
}

.sitenav-link {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.4s ease;
    margin: 0;
}

.sitenav-link:hover {
    color: #ff7500;
}

.sitenav-link:active {
    opacity: 0.6;
}

.sitenav-link:active {
    opacity: 0.6;
}

.hero-link {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    text-decoration: none;
    background-color: #ff7500;
    color: #fff;
    transition: opacity 0.4s ease;
    margin: 0;
}

.hero-link:hover {
    opacity: 0.8;
}

.hero-link:active {
    opacity: 0.6;
}

.top {
    background-color: #252420;
    color: #fff;
}

.top-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero-main {
    width: 387px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-hr {
    width: 80px;
    height: 3px;
    padding: 0;
    margin: 0;
    margin-bottom: 43px;
    background-color: #ff7500;
}

.hero-main h2 {
    font-size: 40px;
    font-family: "Roboto Condenced", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    color: #fff;
    margin: 0;
    margin-bottom: 24px;
}

.hero-main-text {
    color: #fff;
    margin: 0;
    margin-bottom: 32px;
}

.hero-img-wrapper {
    position: absolute;
    top: 40px;
    right: 20px;
}

.hero-img {
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0px rgba(225, 117, 0, 0.6);
}

.features {
    padding-top: 210px;
    padding-bottom: 210px;
} 

.main-hr {
    margin: 0;
    margin-bottom: 24px;
}

.features h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 72px;
}

.features-list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.features-link {
    width: 340px;
    margin-right: 40px;
    display: block;
}
.features-link:last-child {
    margin: 0;
}

.features-link svg {
    margin: 0;
    margin-bottom: 32px;
}

.features h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 12px;
}

.features p {
    margin: 0;
}

.promo {
    position: relative;
    padding: 64px;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #252420;
    color: #fff;
}

.promo-main {
    width: 440px;
}

.promo-heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    margin: 0;
    margin-bottom: 24px;
}

.promo-paragraph {
    margin: 0;
    margin-bottom: 48px;
}

.paragraph-item {
    margin: 0;
    margin-bottom: 12px;
}
.paragraph-item:last-child {
    margin: 0;
}

.paragraph-items {
    font-weight: 700;
}

.promo-highlite {
    color: #ff7500;
}

.promo-img {
    position: absolute;
    right: 64px;
    bottom: 64px;
    width: 440px;
    height: 440px;
    border-radius: 12px;
}

.footer {
    background-color: #f8f8f8;
    color: #252420;
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0;
}

.footer-link {
    margin: 0;
    margin-right: 16px;
}

.footer-link:last-child {
    margin: 0;
}
.footer-list a {
    display: flex;
    color: #252420;
    transition: color 0.45s ease;
}

.footer-list a:hover {
    color: #ff7500;
}

.footer-list a:active {
    opacity: 0.6;
 }

 .footer-link {
     margin-right: 16px;
 }
hr {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 64px;
    border: 0;    
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}

.link {
    display: flex;
    list-style: none;
}

.link-list{
    width: 224px;
    margin: 0;
    margin-right: 68px;
}

.link-list:last-child {
    margin: 0;
}
.link-list li {
    list-style: none;
    margin: 0;
    margin-bottom: 16px;
}

.link-list li:last-child {
    margin: 0;
}

.link a {
    line-height: 19px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #252420;
    text-decoration: none;
    transition: color 0.4s ease;
}

.link a:hover {
    color: #ff7500;
}

.link a:active {
    opacity: 0.6;
}
