html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000;
}

*:focus {
    outline: 3px solid #ff7500;
    outline-offset: 4px;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
}

/* Header */
.site-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: #ff7500 5px solid;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo-link {
    display: inline-block;
    transition: opacity 0.4s ease;
}

.site-header__logo-link:hover {
    opacity: 0.8;
}

.site-header__logo-link:active {
    opacity: 0.6;
}

svg {
    display: block;
}

.site-header__list {
    display: flex;
    align-items: center;
}

.sitenav__list {
    display: flex;
    padding: 0;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-right: 32px;
}

.sitenav__item {
    margin: 0;
    margin-right: 32px;
}

.sitenav__item:last-child {
    margin: 0;
}

.sitenav__link {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.4s ease;
    margin: 0;
}

.sitenav__link:hover {
    color: #ff7500;
}

.sitenav__link:active {
    opacity: 0.6;
}

.hero-link {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    text-decoration: none;
    background-color: #ff7500;
    color: #fff;
    transition: opacity 0.4s ease;
    margin: 0;
}

.hero-link:hover {
    opacity: 0.8;
}

.hero-link:active {
    opacity: 0.6;
}

/* Hero */
.hero {
    background-color: #252420;
    color: #fff;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero__main {
    width: 387px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-hr {
    width: 80px;
    height: 3px;
    padding: 0;
    margin: 0;
    margin-bottom: 43px;
    background-color: #ff7500;
}

.hero__heading {
    font-size: 40px;
    font-family: "Roboto Condenced", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    color: #fff;
    margin: 0;
    margin-bottom: 24px;
}

.hero__main-text {
    color: #fff;
    margin: 0;
    margin-bottom: 32px;
}

.hero__img-wrapper {
    position: absolute;
    top: 40px;
    right: 20px;
}

.hero__img {
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0px rgba(225, 117, 0, 0.6);
}

/* Features */
.features {
    padding-top: 210px;
    padding-bottom: 210px;
} 

.main-hr {
    margin: 0;
    margin-bottom: 24px;
}

.features__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 72px;
}

.features__list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.features__item {
    width: 340px;
    margin-right: 40px;
    display: block;
}
.features__item:last-child {
    margin: 0;
}

.item__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 117, 0, 0.2);
    margin-bottom: 32px;
}

.item__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 12px;
}

.item__text {
    width: 314px;
    margin: 0;
}

/* Promo */
.promo {
    padding-top: 120px;
    padding-bottom: 160px;
}

.promo__container {
    position: relative;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #252420;
    color: #fff;
}

.promo__main {
    width: 440px;
}

.promo__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    margin: 0;
    margin-bottom: 24px;
}

.promo__paragraph {
    margin: 0;
    margin-bottom: 48px;
}

.paragraph__item {
    margin: 0;
    margin-bottom: 12px;
}
.paragraph__item:last-child {
    margin: 0;
}

.paragraph__items {
    margin: 0;
    font-weight: 700;
}

.promo__highlite {
    color: #ff7500;
}

.promo__img {
    position: absolute;
    right: 64px;
    bottom: 64px;
    width: 440px;
    height: 440px;
    border-radius: 12px;
}

/* Footer */
.footer {
    background-color: #f8f8f8;
    color: #252420;
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0;
}

.footer__item {
    margin: 0;
    margin-right: 16px;
}

.footer__item:last-child {
    margin: 0;
}
.footer__link {
    display: flex;
    color: #252420;
    transition: color 0.45s ease;
}

.footer__link:hover {
    color: #ff7500;
}

.footer__link:active {
    opacity: 0.6;
 }

 .footer__item {
     margin-right: 16px;
 }
hr {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 64px;
    border: 0;    
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}

.list {
    display: flex;
    list-style: none;
}

.list__item {
    width: 224px;
    margin: 0;
    padding: 0;
    margin-right: 68px;
}

.list__item:last-child {
    margin: 0;
}
.list__item li {
    list-style: none;
    margin: 0;
    margin-bottom: 16px;
}

.list__item li:last-child {
    margin: 0;
}

.list__item a {
    line-height: 19px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #252420;
    text-decoration: none;
    transition: color 0.4s ease;
}

.list__item a:hover {
    color: #ff7500;
}

.list__item a:active {
    opacity: 0.6;
}